<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/home.css" />
    <link rel=stylesheet href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel=stylesheet href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif" rel="stylesheet">
</head>

<body>
<script id="token" type="text/plain">
    <%= token %>
</script>

<h1>oi mundo</h1>

<%= token %>

</body>
</html>
