<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/home.css" />
    <link rel=stylesheet href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel=stylesheet href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif" rel="stylesheet">
</head>

<body>

    <div id="top">
        <div class="container">
            <div class="marca1">
                <img src="/static/logo_ufmg.png" />
            </div>
            <div class="titulo">
                <div>
                    <p>
                        PROGRAMA DE PÓS-GRADUAÇÃO EM PSICOLOGIA
                    </p>
                    LABORATÓRIO DE ESTUDOS SOBRE TRABALHO, SOCIABILIDADE E SAÚDE
                </div>
            </div>
            <div class="marca2">
                <img src="/static/logo_fafich.png" />
            </div>
        </div>
    </div>

    <div id="middle">
        <div class="container">
            <h1>
                Qualidade de vida e condições de trabalho <br />Projeto de Pesquisa
            </h1>
            <h2>

            </h2>

            <p>
                O nosso laboratório – <a href="http://dgp.cnpq.br/dgp/espelhogrupo/2323566744332378"> Laboratório de
                Estudos sobre Trabalho, Sociabilidade e Saúde</a> – envolve um número amplo de pesquisadores (docentes,
                colaboradores externos, estudantes de pós-graduação stricto sensu, estudantes de graduação e
                participantes voluntários) como o diretório de grupos de pesquisa do CNPq identifica. Vincula-se a linha
                de pesquisa do Programa de Pós-graduação em Psicologia (Mestrado e Doutorado), na área de concentração
                em Psicologia Social e na linha de pesquisa em Trabalho, Sociabilidade e Saúde, a qual intitulou o nosso
                laboratório. Internamente, no laboratório, subdividimos esta linha de pesquisa em outras mais
                específicas, sendo que a presente pesquisa se insere na linha de Saúde Psíquica e Trabalho, cujos
                objetivos são:
            </p>

            <div class="highlight">
                <h3>Linha de pesquisa: Saúde Psíquica e Trabalho</h3>
                <p>
                    Desenvolver estudos que permitam compreender a
                    relação dialética do ser humano com o seu trabalho. O foco são os impactos do trabalho no psiquismo,
                    sejam eles positivos, em que trataremos de seus efeitos terapêuticos e de promoção do bem-estar
                    psíquico, sejam negativos, em que focalizaremos o adoecimento psíquico, entre outras alterações
                    relativas às condições inadequadas de trabalho. Os significados e sentidos atribuídos ao trabalho
                    frequentemente são objetos dessa linha de pesquisa.
                </p>
            </div>

            <p>
                O presente projeto de pesquisa tem como objetivo explorar as condições de trabalho em universidades,
                verificando se são bons indicadores de qualidade de vida. Tal relação será explorada usando dados acerca
                das condições de trabalho, da saúde psíquica do servidor e de aspectos da cultura
                organizacional/institucional. A intenção, é além de contribuir para a construção do conhecimento acerca
                do tema, pode identificar prioridades para a promoção da qualidade de vida do servidor e/ou identificar
                caminhos que facilite a consecução dos objetivos institucionais. Esses objetivos, em se tratando de
                universidades, deve atender a demandas da sociedade. Estamos, assim, valorizando o papel transformador
                da realidade social que dá sentido à produção do conhecimento. Por isso, planejamos que os resultados
                encontrados, na proporção de sua publicação, sejam disponibilizados na internet para todos os
                participantes. Desta forma, as universidades poderão aplicar os conhecimentos gerados e os
                participantes, pautar suas ações e reivindicações.
            </p>

            <p>
                Também é objetivo (secundário) da pesquisa produzir instrumental (questionários testados) que possa ser
                utilizado em outras situações como o diagnóstico ocupacional e periódico da qualidade de vida do
                servidor. Por isso, o questionário de condições de trabalho foi adaptado com o objetivo de atender as
                singularidades do mundo acadêmico. Os questionários relativos à saúde psíquica e do âmbito da cultura já
                são tradicionais da Psicologia e largamente testados. Esse objetivo tem um caráter mais próximo à
                produção de tecnologia social, adicionando valorização da dimensão aplicada da pesquisa.
            </p>

            <p>
                Portanto, compreendemos que a inserção social desta pesquisa está presente na leitura da realidade do
                trabalho nas universidades que sustentou sua proposição, mas também se expressa na sua potencialidade
                para contribuir com a transformação de tal realidade.
            </p>

        </div>
    </div>


</body>

</html>
