{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "semi": "warn",
    'brace-style': ['warn', 'stroustrup', { "allowSingleLine": true }],
    'prefer-template': 'warn',
    "no-empty": "warn",
    "no-console": "off",
    "comma-dangle": "off",
    "no-unused-vars": "warn",
    "arrow-parens": "off",
    "indent": [
      "warn",
      4
    ],
    "no-plusplus": "off",
    "max-len": [
      "warn",
      120
    ],
    "no-param-reassign": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "no-trailing-spaces": "off",
    "padded-blocks": "off",
    'no-multiple-empty-lines': 'off'
  }
}
